{% extends "two_column.html" %}

{% block page_title %}
Welcome {{session.get('prefix') + ' ' + session.get('last_name').capitalize()}}.
{% endblock %}

{% block page_description %}
Enter locker & student details.
{% endblock %}

{% block column_one %}
<div class="card bg-light border border-white text-dark rounded shadow">
  <form action="/dashboard" method="post" accept-charset="utf-8" enctype="multipart/form-data">
    <div class="card-body p-3">
      <h2 class="card-title mt-2">Administrator Form.</h2>
      <p class="card-subtitle mb-2 text-muted">Submit the following documents.<p>

        {% if sheets['students']['saved'] %}
          <div class="alert alert-success" role="alert">
            Accepted <a href="#" class="alert-link text-decoration-none text-primary"> {{ sheets['students']['filename'] }} </a> students spreadsheet.
          </div>
        {% endif %}
        {% for message in sheets['students']['messages']%}
          <div class="alert alert-danger" role="alert">
            {{ message }}
          </div>
        {% endfor %}

      <div class="mb-4 bg-white shadow rounded p-3">
        <h5 class="card-subtitle mt-1 mb-4 text-muted">Students Spreadsheet.</h5>
        <label for="formFile" class="form-label">Please use the following format</label>
        <table class="table table-primary table-striped">
          <thead>
            <tr>
              <th scope="col">Last Name</th>
              <th scope="col">First Name</th>
              <th scope="col">Grade</th>
              <th scope="col">District E-Mail</th>
            </tr>
          </thead>
          <tbody>
           <tr>
             <td scope="row">John</td>
             <td>Doe</td>
             <td>12</td>
             <td>dh.jdoe@students.srvusd.net</td>
           </tr>
           <tr>
             <td scope="row">...</td>
             <td>...</td>
             <td>...</td>
             <td>...</td>
           </tr>
         </tbody>
        </table>
        <input class="form-control" type="file" id="formFile" name="students" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
      </div>

      {% if sheets['lockers']['saved'] %}
        <div class="alert alert-success" role="alert">
          Accepted <a href="#" class="alert-link text-decoration-none text-primary"> {{ sheets['lockers']['filename'] }} </a> lockers spreadsheet.
        </div>
      {% endif %}
      {% for message in sheets['lockers']['messages']%}
        <div class="alert alert-danger" role="alert">
          {{ message }}
        </div>
      {% endfor %}

      <div class="mb-4 bg-white shadow rounded p-3">
        <h5 class="card-subtitle mt-1 mb-4 text-muted">Lockers Spreadsheet.</h5>
        <label for="formFile" class="form-label">Please use the following format</label>
        <table class="table table-primary table-striped">
          <thead>
            <tr>
              <th scope="col">Locker Number</th>
              <th scope="col">Locker Combo</th>
              <th scope="col">Building</th>
              <th scope="col">Floor</th>
              <th scope="col">Other Location Attributes</th>
            </tr>
          </thead>
          <tbody>
           <tr>
             <td scope="row">1234</td>
             <td>10,20,30</td>
             <td>1000</td>
             <td>Top</td>
             <td>...</td>
           </tr>
           <tr>
             <td scope="row">...</td>
             <td>...</td>
             <td>...</td>
             <td>...</td>
             <td>...</td>
           </tr>
         </tbody>
        </table>
        <input class="form-control" type="file" id="formFile" name="lockers" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
      </div>

      {% if sheets['preassignments']['saved'] %}
        <div class="alert alert-success" role="alert">
          Accepted <a href="#" class="alert-link text-decoration-none text-primary"> {{ sheets['preassignments']['filename'] }} </a> preassignments spreadsheet.
        </div>
      {% endif %}
      {% for message in sheets['preassignments']['messages']%}
        <div class="alert alert-danger" role="alert">
          {{ message }}
        </div>
      {% endfor %}


      <div class="mb-4 bg-white shadow rounded p-3">
        <h5 class="card-subtitle mt-1 mb-4 text-muted">Pre-Assignments Spreadsheet.</h5>
        <label for="formFile" class="form-label">Please use the following format</label>
        <table class="table table-primary table-striped">
          <thead>
            <tr>
              <th scope="col">District E-Mail Partner 1</th>
              <th scope="col">District E-Mail Partner 2</th>
              <th scope="col">Locker Number</th>
            </tr>
          </thead>
          <tbody>
           <tr>
             <td scope="row">dh.jdoe1@students.srvusd.net</td>
             <td>dh.jdoe2@students.srvusd.net</td>
             <td>1112</td>
           </tr>
           <tr>
             <td scope="row">...</td>
             <td>...</td>
             <td>...</td>
           </tr>
         </tbody>
        </table>
        <input class="form-control" type="file" id="formFile" name="preassignments" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
      </div>
    </div>
    <div class="d-grid gap-2 col-6 mb-4 mx-auto">
      <button class="btn btn-primary" type="submit">Update</button>
    </div>
  </form>
  <div class="text-center">
    <h6>Don't click simulate preferences unless testing.</h6>
    <div class="btn-group mb-4" role="group" aria-label="Basic example">
      <a class="btn btn-outline-danger" href="{{ url('simulate_preferences') }}" role="button">Simulate Preferences</a>
      <a class="btn btn-outline-primary" href="{{ url('assign') }}" role="button">Assign</a>
      <a class="btn btn-outline-success" href="{{ url('export_assignments_to_spreadsheet') }}" role="button">Export Assignments</a>
      <a class="btn btn-outline-success" href="{{ url('export_preferences_to_spreadsheet') }}" role="button">Export Preferences</a>
    </div>
  </div>
</div>
{% endblock %}
