{% extends "two_column.html" %}

{% block page_title %}
Welcome {{session.get('prefix') + ' ' + session.get('last_name').capitalize()}}.
{% endblock %}

{% block page_description %}
Enter locker & student details.
{% endblock %}

{% block column_one %}
<div class="card bg-light border border-white text-dark rounded shadow">
  <form action="/" method="post" accept-charset="utf-8" enctype="multipart/form-data">
    <div class="card-body p-3">
      <h2 class="card-title mt-2">Administrator Form.</h2>
      <p class="card-subtitle mb-2 text-muted">Submit the following documents.<p>
        
        {% for message in sheets['students']['messages']%}
          {% if sheets['students']['validated'] %}
            <div class="alert alert-success" role="alert">
              {{ message }}
            </div>
          {% else %}
            <div class="alert alert-danger" role="alert">
              {{ message }}
            </div>
          {% endif %}
        {% endfor %}

      <div class="mb-4 bg-white shadow rounded p-3">
        <h5 class="card-subtitle mt-1 mb-4 text-muted">Students Spreadsheet.</h5>
        <label for="formFile" class="form-label">Please use the following format</label>
        <table class="table table-primary table-striped">
          <thead>
            <tr>
              <th scope="col">Last Name</th>
              <th scope="col">First Name</th>
              <th scope="col">Grade</th>
              <th scope="col">District E-Mail</th>
            </tr>
          </thead>
          <tbody>
           <tr>
             <td scope="row">John</td>
             <td>Doe</td>
             <td>12</td>
             <td>dh.jdoe@students.srvusd.net</td>
           </tr>
           <tr>
             <td scope="row">...</td>
             <td>...</td>
             <td>...</td>
             <td>...</td>
           </tr>
         </tbody>
        </table>
        <input class="form-control" type="file" id="formFile" name="students" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
      </div>

      {% for message in sheets['lockers']['messages']%}
        {% if sheets['lockers']['validated'] %}
          <div class="alert alert-success" role="alert">
            {{ message }}
          </div>
        {% else %}
          <div class="alert alert-danger" role="alert">
            {{ message }}
          </div>
        {% endif %}
      {% endfor %}

      <div class="mb-4 bg-white shadow rounded p-3">
        <h5 class="card-subtitle mt-1 mb-4 text-muted">Lockers Spreadsheet.</h5>
        <label for="formFile" class="form-label">Please use the following format</label>
        <table class="table table-primary table-striped">
          <thead>
            <tr>
              <th scope="col">Locker Number</th>
              <th scope="col">Locker Combo</th>
              <th scope="col">Building</th>
              <th scope="col">Floor</th>
              <th scope="col">Other Location Attributes</th>
            </tr>
          </thead>
          <tbody>
           <tr>
             <td scope="row">1234</td>
             <td>10-20-30</td>
             <td>1000</td>
             <td>Top</td>
             <td>...</td>
           </tr>
           <tr>
             <td scope="row">...</td>
             <td>...</td>
             <td>...</td>
             <td>...</td>
             <td>...</td>
           </tr>
         </tbody>
        </table>
        <input class="form-control" type="file" id="formFile" name="lockers" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
      </div>

      {% for message in sheets['preassignments']['messages']%}
        {% if sheets['preassignments']['validated'] %}
          <div class="alert alert-success" role="alert">
            {{ message }}
          </div>
        {% else %}
          <div class="alert alert-danger" role="alert">
            {{ message }}
          </div>
        {% endif %}
      {% endfor %}

      <div class="mb-4 bg-white shadow rounded p-3">
        <h5 class="card-subtitle mt-1 mb-4 text-muted">Pre-Assignments Spreadsheet.</h5>
        <label for="formFile" class="form-label">Please use the following format</label>
        <table class="table table-primary table-striped">
          <thead>
            <tr>
              <th scope="col">Last Name</th>
              <th scope="col">First Name</th>
              <th scope="col">District E-Mail</th>
              <th scope="col">Locker Number</th>
            </tr>
          </thead>
          <tbody>
           <tr>
             <td scope="row">John</td>
             <td>Doe</td>
             <td>dh.jdoe@students.srvusd.net</td>
             <td>1112</td>
           </tr>
           <tr>
             <td scope="row">...</td>
             <td>...</td>
             <td>...</td>
             <td>...</td>
           </tr>
         </tbody>
        </table>
        <input class="form-control" type="file" id="formFile" name="preassignments" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
      </div>
    </div>
    <div class="d-grid gap-2 col-6 mb-4 mx-auto">
      <button class="btn btn-primary" type="submit">Update</button>
    </div>
  </form>
</div>
{% endblock %}
