{% extends "nav_base.html" %}

{% block title %}
Home
{% endblock %}

{% block style %}
<link rel="stylesheet" href="../static/css/product.css">
{% endblock %}

{% block body %}
<!-- <div class="jumbotron bg-gradient-light">
<div class="container">
<h1 class="display-4">Run your errands safely.</h1>
<p class="lead">Schedule your tasks and shopping sessions using our intelligent engine.</p>
<hr class="my-4">
<p>We analyze environmental conditions and COVID-19 case data to ensure you can get stuff done without worry.</p>
<a class="btn btn-primary btn-lg" href="" role="button">Sign Up</a>
</div>
</div> -->
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center text-light rounded bg-dark">
  <div class="rounded col-md-6 p-lg-5 mx-auto my-5">
    <h1 class="font-weight-normal display-4">We Assign Lockers.</h1>
    <p class="lead font-weight-normal">Receive your preferred locker and partner using our intelligent engine.</p>
    <!-- <p>We analyze environmental conditions and COVID-19 case data to ensure you can get stuff done without worry.</p> -->
    <!-- <a class="btn btn-lg btn-primary" href="">Sign Up</a> -->
    <!-- <button class="flex--item s-btn s-btn__icon s-btn__google bar-md ba bc-black-100" data-onsuccess="onSignIn" data-provider="google" data-oauthserver="https://accounts.google.com/o/oauth2/auth" data-oauthversion="2.0">
<svg aria-hidden="true" class="native svg-icon iconGoogle" width="18" height="18" viewBox="0 0 18 18"><path d="M16.51 8H8.98v3h4.3c-.18 1-.74 1.48-1.6 2.04v2.01h2.6a7.8 7.8 0 002.38-5.88c0-.57-.05-.66-.15-1.18z" fill="#4285F4"></path><path d="M8.98 17c2.16 0 3.97-.72 5.3-1.94l-2.6-2a4.8 4.8 0 01-7.18-2.54H1.83v2.07A8 8 0 008.98 17z" fill="#34A853"></path><path d="M4.5 10.52a4.8 4.8 0 010-3.04V5.41H1.83a8 8 0 000 7.18l2.67-2.07z" fill="#FBBC05"></path><path d="M8.98 4.18c1.17 0 2.23.4 3.06 1.2l2.3-2.3A8 8 0 001.83 5.4L4.5 7.49a4.77 4.77 0 014.48-3.3z" fill="#EA4335"></path></svg>
Log in with Google        </button> -->
  <div class="">
    <button type="button" class="btn" name="button">
      <div class="btn g-signin2" id="auth2" data-longtitle="true" data-onsuccess="onSignIn" data-prompt="select_account"></div>
    </button>
  </div>
    <button type="button" class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#infoModal">
      Commonly Asked Questions
    </button>

<!--   <form action="/login" method="post" accept-charset="utf-8" enctype="multipart/form-data">
      <div class="input-group">
        <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp" placeholder="example@domain" required>
        <button class="btn btn-primary" type="submit">Log In</button>
      </div>
    </form> -->

    <!-- <button type="button" name="button" onclick="myFunction()"></button> -->
  </div>
  <div class="product-device shadow-sm d-none d-lg-block"></div>
  <div class="product-device product-device-2 shadow-sm d-none d-lg-block"></div>
</div>

<div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Commonly Asked Questions.</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h4>Locker Assignment</h4>

        <p><strong>Why can't I sign in to the website?</strong></p>
          <p>If you are in 9th grade, please sign in to the website using your middle school email. Please keep in mind that you will receive your assignment at your new DVHS email (ID#@students.srvusd.net). If the issue persists or if you are not a 9th grader, please contact the administrator mentioned in the email sent by your school.</p>

        <p><strong>How does it work?</strong></p>
          <p>While registration is open, you will input your preferences on this website. After registration closes, locker assignments are done on a first-come-first-serve basis keeping your preferences in mind.</p>

        <p><strong>When will I know my assigned locker?</strong></p>
          <p>An email with your final assignment will be sent to your school email address (ID#@students.srvusd.net) after registration closes.</p>

        <p><strong>What if I want to change my locker preferences?</strong></p>
          <p>While registration is open, you can change your preferences anytime by signing in, updating your preferences, and clicking &#34;Update&#34;. However, as assignments are done on a first-come-first-serve basis, this will move you to the back of the line.</p>

        <p><strong>What if I want to change my locker/partner AFTER the assignment?</strong></p>
          <p>Requests for changes cannot be addressed through the online assignment procedure. If you have any special requirements, please contact the administrator mentioned in the email sent by your school.

        <p><strong>What if I have special requirements for my locker assignment?</strong></p>
          <p>Special accommodations cannot be addressed through the online assignment procedure. If you have any physical/medical constraints, please contact the administrator mentioned in the email sent by your school. </p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3 rounded">
  <div class="bg-white mr-md-3 pt-3 px-3 pt-md-5 px-md-5 pb-5 text-center overflow-hidden">
    <img style="width: 80%; height: 300px; border-radius: 21px;" src="static/img/landing/ux.svg" alt="...">
  </div>
  <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 py-3">
      <h2 class="display-5">Simple User Experience.</h2>
      <p class="lead">Fill out our form; we'll do the rest.</p>
      <p class="text-muted">Students, list your partnership and locker location preferences. Administrators, submit spreadsheets of your lockers & student details.</p>
      <a class="btn btn-outline-primary" href="">Try It Out</a>
    </div>
    <!-- <div class="bg-light shadow-sm mx-auto">
    <img style="width: 80%; height: 300px; border-radius: 21px;" src="static/img/data.svg" alt="...">
  </div> -->
</div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3 rounded">
  <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 py-3">
      <h2 class="display-5">Intelligent Algorithm.</h2>
      <p class="lead">Our system finds the most cost-effective partnerships.</p>
      <p class="text-muted">We guarantee you will receive a satisfactory partnership and locker using our services.</p>
      <a class="btn btn-outline-primary" href="">Try It Out</a>
    </div>
    <!-- <div class="bg-light shadow-sm mx-auto">
    <img style="width: 80%; height: 300px; border-radius: 21px;" src="static/img/data.svg" alt="...">
  </div> -->
</div>
<div class="bg-white mr-md-3 pt-3 px-3 pt-md-5 px-md-5 pb-5 text-center overflow-hidden">
  <img style="width: 80%; height: 300px; border-radius: 21px;" src="static/img/landing/friends.svg" alt="...">
</div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3 rounded">
  <div class="bg-white mr-md-3 pt-3 px-3 pt-md-5 px-md-5 pb-5 text-center overflow-hidden">
    <img style="width: 80%; height: 300px; border-radius: 21px;" src="../static/img/landing/communication.svg" alt="...">
  </div>
  <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-auto py-3">
      <h2 class="display-5">Communication System.</h2>
      <p class="lead">Let's stay in touch.</p>
      <p class="text-muted">When assignments are finalized, we will contact you and your partner with your locker information. If you don't like your pairing, reach out to us. We'll make things right.</p>
      <a class="btn btn-outline-primary" href="">Try It Out</a>
    </div>
    <!-- <div class="bg-light shadow-sm mx-auto">
    <img style="width: 80%; height: 300px; border-radius: 21px;" src="static/img/data.svg" alt="...">
  </div> -->
</div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3 rounded">
  <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 pb-5 text-center overflow-hidden">
    <div class="my-auto py-3">
      <h2 class="display-5">Intuitive Dashboard.</h2>
      <p class="lead">Administrators, visualize the results.</p>
      <p class="text-muted">When everything is finalized, you can view statistics such as match rate, successful pairings and more.</p>
      <a class="btn btn-outline-primary" href="">Try It Out</a>
    </div>
  </div>
  <div class="bg-white mr-md-3 pt-3 px-3 pt-md-5 px-md-5 pb-5 text-center overflow-hidden">
    <img style="width: 80%; height: 300px; border-radius: 21px;" src="static/img/landing/dashboard.svg" alt="...">
  </div>
</div>

<footer class="container py-5">
  <div class="row" style="text-align: center;">
    <!-- <div class="col-12 col-md"> -->
      <!-- <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mb-2"><circle cx="12" cy="12" r="10"></circle><line x1="14.31" y1="8" x2="20.05" y2="17.94"></line><line x1="9.69" y1="8" x2="21.17" y2="8"></line><line x1="7.38" y1="12" x2="13.12" y2="2.06"></line><line x1="9.69" y1="16" x2="3.95" y2="6.06"></line><line x1="14.31" y1="16" x2="2.83" y2="16"></line><line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg> -->
      <!-- add logo here -->
      <!-- <img src="static/img/dark-logo.png" height="50px"> -->
      <!-- <small class="d-block my-3 text-muted"></small> -->
    <!-- </div> -->
    <div class="col col-md">
      <h5>Authorization</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="" style="text-decoration:none;">Log In</a></li>
        <li><a class="text-muted" href="" style="text-decoration:none;">Log Out</a></li>
      </ul>
    </div>
    <div class="col col-md">
      <h5>Dashboards</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="" style="text-decoration:none;">Administrators</a></li>
        <li><a class="text-muted" href="" style="text-decoration:none;">Students</a></li>
      </ul>
    </div>
    <!-- <div class="col-6 col-md">
    </div>
    <div class="col-6 col-md">
    </div> -->
  </div>
  <!-- <small class="d-block my-3 text-muted" align="center">© 2021-2022</small> -->
  <small class="d-block my-3 text-muted" align="center">© 2021-2022. Made with &#x1F499; by <a href="https://srmakerspace.wordpress.com/"><strong>San Ramon Makerspace</strong></a> & <a href="http://tech-sanramon.herokuapp.com"><strong>Tech San Ramon</strong></a></small>
</footer>

{% endblock %}
