{% extends "two_column.html" %}

{% block page_title %}
Welcome {{session.get('first_name').capitalize()}}.
{% endblock %}

{% block page_description %}
Record your preferences.
{% endblock %}

{% block column_one %}
<div class="card bg-light border border-white text-dark rounded shadow">
  <form action="/dashboard" method="post" accept-charset="utf-8" enctype="multipart/form-data">
    <div class="card-body">
      <h2 class="card-title mt-2">Student Form.</h2>
      <p class="text-danger">* Mandatory Fields</p>
      <div class="alert alert-primary d-flex align-items-center shadow mb-4" role="alert">
        <svg class="bi flex-shrink-0 me-3" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
        <div>
          You may change your response until the deadline. Fields will be prefilled after your first submission with your saved preferences. Fix any fields outlined in red.
        </div>
      </div>
      <!-- Button trigger modal -->
      <div class="d-grid">
        <button type="button" class="btn btn-primary mb-4" data-bs-toggle="modal" data-bs-target="#infoModal">
          Commonly Asked Questions
        </button>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Commonly Asked Questions.</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <h4>Locker Assignment.</h4>
              <h6 class="text-muted mb-3">Fill out this form to select your lockers for the 2021-2022 school year.</h6>

              <p><strong>How does it work?</strong></p>
              {% if session['school_id'] == 0 %}
                <p>After registration closes, all responses are processed on a first-come-first-serve basis and your locker is assigned as close to your preferences as possible. Freshmen will be notified of their assigned partner in the email as well; sophomores, juniors and seniors will receive individual lockers.</p>
              {% elif session['school_id'] == 1 %}
                <p>After registration closes, all responses are processed on a first-come-first-serve basis and your locker is assigned as close to your preferences as possible.</p>
              {% endif %}

              {% if session['school_id'] == 0 and session['grade'] == 9 %}
                <p><strong>Do both me and my locker partner have to fill out the form?</strong></p>
                <p>Yes, both of you must fill out the form to ensure that you are matched.</p>
              {% endif %}

              <p><strong>When will I know my locker?</strong></p>
              {% if session['grade'] == 9 %}
                <p>An email with your assigned locker number, combination, and partner will be sent to the address you used to log in after registration closes.</p>
              {% else %}
              <p><strong>When will I know my locker?</strong></p>
                <p>An email with your assigned locker number and combination will be sent to the address you used to log in after registration closes.</p>
              {% endif %}

              <p><strong>What if I want to change my locker/partner preferences?</strong></p>
              <p>While registration is open, you can change your locker/partner preferences anytime by updating your preferences and clicking &#34;Update&#34;.</p>

              <p><strong>What if I want to change my locker/partner AFTER the assignment?</strong></p>
              {% if session['school_id'] == 0 %}
                <p>Requests for changes cannot be addressed through the online assignment procedure. If you have any special requirements, please contact Jennifer Lee at <a class="text-decoration-none" href="mailto: bspain@srvusd.net">jlee2@srvusd.net</a>.</p>
              {% elif session['school_id'] == 1 %}
                <p>Requests for changes cannot be addressed through the online assignment procedure. If you have any special requirements, please contact Jeffrey Osborn at <a class="text-decoration-none" href="mailto: josborn1@srvusd.net">josborn1@srvusd.net</a>.</p>
              {% endif %}

              <p><strong>What if I have special needs for my locker/partner assignment?</strong></p>
              {% if session['school_id'] == 0 %}
                <p>Special needs cannot be addressed through the online assignment procedure. If you have any physical/medical constraints, please contact Jennifer Lee at <a class="text-decoration-none" href="mailto: jlee2@srvusd.net">jlee2@srvusd.net</a>.</p>
              {% elif session['school_id'] == 1 %}
                <p>Special needs cannot be addressed through the online assignment procedure. If you have any physical/medical constraints, please contact Jeffrey Osborn at <a class="text-decoration-none" href="mailto: josborn1@srvusd.net">josborn1@srvusd.net</a>.</p>
              {% endif %}

              <p><strong>Final Note</strong></p>
              {% if session['school_id'] == 0 %}
                <p>Returning students, please remember to bring the lock that was loaned to you by DVHS; if it has been lost, it can be replaced through the Webstore for a $10 fee.  Any non-DVHS issued lock will be removed from lockers. Freshmen will receive their locks during orientation on August 8.</p>
              {% elif session['school_id'] == 1 %}
                <p>Returning students, please remember to bring the lock that was loaned to you by CHS; if it has been lost, it can be replaced through the Webstore for a $10 fee.  Any non-CHS issued lock will be removed from lockers. Freshmen will receive their locks during orientation on August 8.</p>
              {% endif %}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      {% if student_partnerships %}
        <div class="bg-white shadow rounded p-3 mb-4">
          <h5 class="card-subtitle mt-1 mb-1 text-muted">Partner Preferences.</h5>
          <div class="my-3">
            <label for="preference1" class="form-label">First Preference Student</label> <label class="text-danger" for="preference1">*</label>
            {% if issues[0] is not none %}
              <select class="selectpicker show-tick border rounded" id="preference1" name="preference1" data-live-search="true" data-style="btn-outline-danger" data-width="100%" title="Select" required>
            {% else %}
              <select class="selectpicker show-tick border rounded" id="preference1" name="preference1" data-live-search="true" data-width="100%" title="Select" required>
            {% endif %}
            {% for key, value in student_options.items() %}
              {% if key == partner_preferences[0] %}
                <option value="{{ key }}" selected>{{ value }}</option>
              {% elif key != session['id'] %}
                <option value="{{ key }}" >{{ value }}</option>
              {% endif %}
            {% endfor %}
            </select>
          </div>
          <div class="my-3">
            <label for="preference2" class="form-label">Second Preference Student</label>
            {% if issues[1] is not none %}
              <select class="selectpicker show-tick border rounded" id="preference2" name="preference2" data-live-search="true" data-style="btn-outline-danger" title="Select" data-width="100%">
            {% else %}
              <select class="selectpicker show-tick border rounded" id="preference2" name="preference2" data-live-search="true" data-width="100%">
            {% endif %}
            {% if partner_preferences[1] is none %}
              <option value="none" selected>No Preference</option>
            {% else %}
              <option value="none">No Preference</option>
            {% endif %}
            {% for key, value in student_options.items() %}
              {% if key == partner_preferences[1]%}
                <option value="{{ key }}" selected>{{ value }}</option>
              {% elif key != session['id'] %}
                <option value="{{ key }}" >{{ value }}</option>
              {% endif %}
            {% endfor %}
            </select>
          </div>
          <div class="my-3">
            <label for="preference3" class="form-label">Third Preference Student</label>
            {% if issues[2] is not none %}
              <select class="selectpicker show-tick border rounded" id="preference3" name="preference3" data-live-search="true" data-style="btn-outline-danger" title="Select" data-width="100%">
            {% else %}
              <select class="selectpicker show-tick border rounded" id="preference3" name="preference3" data-live-search="true" data-width="100%">
            {% endif %}
            {% if partner_preferences[2] is none %}
              <option value="none" selected>No Preference</option>
            {% else %}
              <option value="none">No Preference</option>
            {% endif %}
            {% for key, value in student_options.items() %}
              {% if key == partner_preferences[2]%}
                <option value="{{ key }}" selected>{{ value }}</option>
              {% elif key != session['id'] %}
                <option value="{{ key }}" >{{ value }}</option>
              {% endif %}
            {% endfor %}
            </select>
          </div>
        </div>
      {% endif %}
      <div class="bg-white shadow rounded p-3 mb-4">
        <h5 class="card-subtitle mt-1 mb-1 text-muted">Locker Preferences.</h5>
        <!-- <div class="row row-cols-xxl-3 row-cols-xl-2"> -->
        <div class="row row-cols-xxl-2 row-cols-xl-2">
          {% for key, value in locker_options.items() %}
          <div class="cols-xxl-3 cols-xl-2 my-2">
              <label for="{{ key }}" class="form-label">{{ key.capitalize() }} Preference</label> <label class="text-danger" for="{{ key }}">*</label>
              <select class="selectpicker show-tick border rounded" id="{{ key }}" name="{{ key }}" data-width="100%" title="Select" data-live-search="true" required>
                {% for option in value %}
                  {% if locker_preferences[key] == option %}
                    <option value="{{ option }}" selected>{{ option.capitalize() }}</option>
                  {% else %}
                    <option value="{{ option }}">{{ option.capitalize() }}</option>
                  {% endif %}
                {% endfor %}
              </select>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="d-grid gap-2 col-6 mb-4 mx-auto">
      <button class="btn btn-primary" type="submit">Update</button>
    </div>
  </form>
</div>
{% endblock %}

{% block column_two %}
{% if session['school_id'] == 0 %}
<div class="card bg-light border border-white shadow mb-3">
  <img class="card-img-top" src="../static/img/0/Map.png" style="filter: gray; -webkit-filter: grayscale(1); filter: grayscale(1);" alt="DVHS Map">
  <div class="card-body">
    <p class="card-text"><strong>Building map of Dougherty Valley High School.</strong></p>
    <ul>
      <li>The <span class="badge bg-info text-dark">1000s</span> building is reserved for <span class="badge bg-primary">seniors</span>.</li>
      <li>The <span class="badge bg-info text-dark">2000s</span> building is reserved for <span class="badge bg-primary">juniors</span>.</li>
      <li>The <span class="badge bg-info text-dark">3000s</span> building is reserved for <span class="badge bg-primary">sophomores</span>.</li>
      <li>The <span class="badge bg-info text-dark">4000s</span> building is reserved for <span class="badge bg-primary">freshmen</span>. Students will have to choose a partner for their locker. </li>
    </ul>
  </div>
</div>
{% elif session['school_id'] == 1 %}
<div class="card bg-light border border-white shadow mb-3">
  <img class="card-img-top" src="../static/img/1/First_Floor_Bay_Map.png" alt="CHS First Floor Bay Map">
  <div class="card-body">
    <p class="card-text"><strong>Locker bay map for the <span class="badge bg-info text-dark">1st floor</span> of California High School.</strong></p>
    <ul>
      <li>The first floor is reserved for <span class="badge bg-primary">seniors</span> and <span class="badge bg-primary">juniors</span>.</li>
      <li>Priority is given to <span class="badge bg-primary">seniors</span>.</li>
    </ul>
  </div>
</div>
<div class="card bg-light border border-white shadow">
  <img class="card-img-top" src="../static/img/1/Second_Third_Floor_Bay_Map.png" alt="CHS Second & Third Floor Bay Map">
  <div class="card-body">
    <p class="card-text"><strong>Locker bay map for the <span class="badge bg-info text-dark">2nd and 3rd floors</span> of California High School.</strong></p>
    <ul>
      <li>The second floor is reserved for <span class="badge bg-primary">juniors</span> and <span class="badge bg-primary">sophomores</span>.</li>
      <li>The third floor is reserved for <span class="badge bg-primary">freshmen</span> only.</li>
    </ul>
  </div>
</div>
{% endif %}
{% endblock %}
