{% extends "two_column.html" %}

{% block page_title %}
Welcome {{session.get('name')}}.
{% endblock %}

{% block page_description %}
Record your preferences.
{% endblock %}

{% block column_one %}
<div class="card border-white text-dark rounded shadow">
  <form action="/" method="post" accept-charset="utf-8" enctype="multipart/form-data">
    <div class="card-body">
      <h2 class="card-title">Student Form.</h2>
      <p class="card-subtitle mb-2 text-muted">You can change your preferences until the deadline.<p>
      <p class="text-danger">*Mandatory Fields</p>
      <div class="my-3">
        <label for="preference1" class="form-label">First Preference Student</label><label class="text-danger" for="{{ value }}">*</label>
        {% if partner_preferences[0] is not none%}
          <input class="form-control" list="preference1StudentList" id="preference1" name="preference1" placeholder="{{ partner_preferences[0] }}" required>
        {% else %}
          <input class="form-control" list="preference1StudentList" id="preference1" name="preference1" placeholder="Type to search..." required>
        {% endif %}
        <datalist id="preference1StudentList">
          {% for option in student_list %}
            <option value="{{ option }}">
          {% endfor %}
        </datalist>
      </div>
      <div class="my-3">
        <label for="preference2" class="form-label">Second Preference Student</label>
        {% if partner_preferences[1] is not none%}
          <input class="form-control" list="preference2StudentList" id="preference2" name="preference2" placeholder="{{ partner_preferences[1] }}">
        {% else %}
          <input class="form-control" list="preference2StudentList" id="preference2" name="preference2" placeholder="Type to search...">
        {% endif %}
        <datalist id="preference2StudentList">
          {% for option in student_list %}
            <option value="{{ option }}">
          {% endfor %}
        </datalist>
      </div>
      <div class="my-3">
        <label for="preference3" class="form-label">Third Preference Student</label>
        {% if partner_preferences[2] is not none%}
          <input class="form-control" list="preference3StudentList" id="preference3" name="preference3" placeholder="{{ partner_preferences[2] }}">
        {% else %}
          <input class="form-control" list="preference3StudentList" id="preference3" name="preference3" placeholder="Type to search...">
        {% endif %}
        <datalist id="preference3StudentList">
          {% for option in student_list %}
            <option value="{{ option }}">
          {% endfor %}
        </datalist>
      </div>
      {% for key, value in organization_fields.items() %}
        <div class="my-3">
            <label for="{{ key }}" class="form-label">{{ key.capitalize() }}</label><label class="text-danger" for="{{ key }}">*</label>
            <select id="{{ key }}" name="{{ key }}" class="form-select" aria-label="Default select example" required>
              {% for option in value %}
                <option value="{{ option }}">{{ option.capitalize() }}</option>
              {% endfor %}
            </select>
        </div>
      {% endfor %}
    </div>
    <div class="d-grid gap-2 col-6 mb-4 mx-auto">
      <button class="btn btn-primary" type="submit">Update</button>
    </div>
  </form>
</div>
{% endblock %}
