{% extends "two_column.html" %}

{% block page_title %}
Welcome {Student Name}.
{% endblock %}

{% block page_description %}
Record your preferences.
{% endblock %}

{% block column_one %}
<div class="card border-white text-dark rounded shadow">
  <form action="/student" method="post" accept-charset="utf-8" enctype="multipart/form-data">
    <div class="card-body">
      <h2 class="card-title">Student Form.</h2>
      <h6 class="card-subtitle mb-2 text-muted">You can change your preferences until the deadline.</h6>
      <div class="my-3">
        <label for="exampleDataList" class="form-label">First Preference Student</label>
        <input class="form-control" list="datalistOptions1" id="preference1" name="preference1" placeholder="Type to search...">
          <datalist id="datalistOptions1">
            <option value="San Francisco">
            <option value="New York">
            <option value="Seattle">
            <option value="Los Angeles">
            <option value="Chicago">
          </datalist>
      </div>
      <div class="my-3">
        <label for="exampleDataList" class="form-label">Second Preference Student</label>
        <input class="form-control" list="datalistOptions2" id="preference2" name="preference2" placeholder="Type to search...">
          <datalist id="datalistOptions2">
            <option value="San Francisco">
            <option value="New York">
            <option value="Seattle">
            <option value="Los Angeles">
            <option value="Chicago">
          </datalist>
      </div>
      <div class="my-3">
        <label for="exampleDataList" class="form-label">Third Preference Student</label>
        <input class="form-control" list="datalistOptions3" id="preference3" name="preference3" placeholder="Type to search...">
          <datalist id="datalistOptions3">
            <option value="San Francisco">
            <option value="New York">
            <option value="Seattle">
            <option value="Los Angeles">
            <option value="Chicago">
            <!-- <option value="ya">
            <option value="thats">
            <option value="what">
            <option value="you">
            <option value="godda"> -->
          </datalist>
      </div>
      <div class="row my-3">
        <div class="col">
          <label for="building" class="form-label">Building</label>
          <select id="building" name="building" class="form-select" aria-label="Default select example">
            <option selected value="1000">1000s</option>
            <option value="2000">2000s</option>
            <option value="3000">3000s</option>
            <option value="4000">4000s</option>
          </select>
        </div>
        <div class="col">
          <label for="floor" class="form-label">Floor</label>
          <select id="floor" name="floor" class="form-select" aria-label="Default select example">
            <option selected value="1">1</option>
            <option value="2">2</option>
          </select>
        </div>
        <div class="col">
          <label for="row" class="form-label">Row</label>
          <select id="row" name="row" class="form-select" aria-label="Default select example">
            <option selected value="T">Top</option>
            <option value="B">Bottom</option>
          </select>
        </div>
      </div>
    </div>
    <div class="d-grid gap-2 col-6 mb-4 mx-auto">
      <button class="btn btn-primary" type="submit">Update</button>
    </div>
  </form>
</div>
{% endblock %}
