<html>
<head>
  <title> Lunch Preordering Help Text </title>
</head>
<body> <!-- style="background-image:url('/img/vegetable_wallpaper.jpg');"> -->
  <br>
  <h1 style='text-align:center;'>
    DVHS Lunch Preordering System Operation Instructions
  </h1>
  <br>
  <h3 style='text-align:center;'> Startup </h3>
  <ol style='padding-left: 25%; padding-right: 20%;'>
    <li> Power on the system by plugging in the power cable into the wall socket. </li>
    <li> Wait for about 1 minute until the desktop appears. </li>
    <li> In the top left corner, tap the globe icon. This is the web browser where the system runs. </li>
    <li> Look in the bookmarks section (underneath the search bar). </li>
    <li> Tap the icon that says "DVHS Lunch Preordering System". </li>
    <li> The system will appear. Verify that the button on the right (next to the power off) is green and shows today's date. If not and the button is red, tap the button. </li>
    <li> Tap the text box in the center of the page until a blinking cursor appears. </li>
    <li> The system is now ready for operation. </li>
  </ol>
  <h3 style='text-align:center;'> Operation </h3>
  <ol style='padding-left: 25%; padding-right: 20%;'>
    <li> Once a student comes up to the booth, ask them to scan their lunch barcode on their phone (this has been given to them in the form of an email). </li>
    <li> Once the student scans their barcode, the system will display their order. </li>
    <li> Retrieve the student's pre-packaged meal and give it to them. </li>
    <li> The payment system will be the same as before (students can pay via SchoolCafé or cash). </li>
  </ol>
  <h3 style='text-align:center;'> Shutdown </h3>
  <ol style='padding-left: 25%; padding-right: 20%;'>
    <li> Once lunch is over, tap the "Shut Down" button on the system. It will automatically shut off. </li>
    <li> Once the screen has turned black, unplug the power from the wall. </li>
  </ol>
</body>
</html>
