<html>
    <head>
      <title>DVHS Lunch Preorder</title>
      <script language="javascript">
      function hideBoth() {
        document.getElementById("cont1").style.visibility="hidden";
      }

      function onLoad() {
        hideBoth()
      }

      function startTimingRecord() {
        const Http = new XMLHttpRequest();
        Http.open("GET", "/write-timestamp/on");
        Http.send();
        alert('On Load Completed');
      }

      function refresh() {
        const Http = new XMLHttpRequest();
        Http.open("GET", "/refresh")
        Http.send();

        Http.onreadystatechange = (e) => {
          if (Http.status == 200) {
            document.getElementById("data_date").value = Http.responseText;
            document.getElementById("data_date").style="float:right;background-color:green";
          }
          
        }
      }
      function shutdown() {
        const Http = new XMLHttpRequest();
        Http.open("GET", "/shutdown")
        Http.send();
      }

      function hola(orderID) {
        document.getElementById("cont1").style.visibility="visible";
        const Http = new XMLHttpRequest();
        Http.open("GET", "/getorder/"+orderID);
        Http.send();


        Http.onreadystatechange = (e) => {
          document.getElementById("cont1").innerHTML = "<h3 style='text-align:center'>"+Http.responseText+"</h3>";
          document.getElementById("preorder").value = '';
        }
      }
      </script>

    </head>

    <body onload='onLoad()' style="background-image:url('/img/vegetable_wallpaper.jpg');">
        <h1 style="text-align:center">DVHS Lunch Preordering System</h1>
        <div style="text-align:center"> <input id="preorder" autofocus> </div>
        <br>
        <input type="button" style="float:right;background-color:red" value="Power Off" onclick="shutdown()">
        {% if data_date is none %}
        <input type="button" id="data_date" style="float:right;background-color:red" value="Unable to retrieve orders. Please tap here" onclick="refresh()">
        {% else %}
        <input type="button" id="data_date" style="float:right;background-color:green" value="{{data_date}}" onclick="refresh()">
        {% endif %}
        <br>
        <script language="javascript">
            var x = 1;
            document.getElementById("preorder").onkeypress = function(e) {
              if (!e)
                e = window.event;
              if (e.keyCode == '13') {
                hola(document.getElementById("preorder").value);
                return false;
              }
              else {
                hideBoth();
              }
            }
        </script>

        <div id="cont1">
            <h3>Invalid order ID</h3>
        </div>
    </body>
<html>
